#header{

width: 90vw;
height: 10rem;
background-color: black;
margin: auto;
padding:5rem 0rem 0rem 0rem;


}

#Titulo{

color: white;
margin: auto;
text-align: center;

}

#imagen{

    background-color: white;
    margin: auto;
    padding: auto;
    height: auto;



}




@media screen and  ( max-width: 1060px) {

#header{
background-color: yellow;

}

}
    
@media screen and  ( max-width: 1040px) {

    #header{
    background-color: green;
}
    
    }

@media screen and  ( max-width: 768px) {

    #header{
    background-color: red;
}
        
    }    

