body {
  margin-top: 50px;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 100px;
}

.div-imagen-fondo2{

  background-image: url(https://thumbs.dreamstime.com/b/fondo-de-madera-del-verde-menta-del-vintage-viejo-tablero-verde-resistido-textura-modelo-71948994.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;

}


.div-imagen-fondo{ background-image: url(https://thumbs.dreamstime.com/b/viejo-fondo-de-madera-azul-marino-del-vintage-de-la-textura-84706650.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;


}

#Dino {

border: 150px;
border : white 20px double;

}

#Perfil{

border: 20px;
border: rgb(226, 217, 217) 5px double;

}

#Experiencia{

  border: 20px;
  border: rgb(226, 217, 217) 5px double;

}

#lista1 {
  font-family:Arial;
  font-weight:bold;
  font-size:13px;
  border: 150px;
  border: gray 5px double;
}
.separador {
  color:gray;

}
#lista1 li {
   display:inline;
   padding-left:90px;
   padding-right:70px;
  background-color:black;
}
a {
  color:rgb(243, 240, 240);
  text-decoration:none;
}
a:hover {
  color:rgb(241, 240, 240);
  background-color:lightgray;
}


p{

background-color: rgba(3, 3, 3, 0.363);

}

#Parrafo1{

background-color: rgba(255, 255, 255, 0);

}

#Parrafo2{

  background-color: rgba(255, 255, 255, 0);
  
}
  
#Parrafo3{

  background-color: rgba(255, 255, 255, 0);
    
}
    
#Profesional{

  background-color: rgba(14, 14, 14, 0.486);

}