body {
  background-color: #202124;
  height: 100vh;
  font-family: arial, sans-serif;
  font-size: 10px;
  margin: 0%;
}

header {
  display: flex;
  justify-content: end;
  height: 50px;
}

.opciones {
  display: flex;
  gap: 18px;
  align-items: center;
}

.opciones a {
  text-decoration: none;
  color: white;
}

.opciones img {
  height: 23px;
  width: 25;
}

main {
  height: calc(100% - 50px - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .contenedor {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.contenedor figure {
  height: 70px;
}
.contenedor figure img {
  height: 100%;
}

.contenedor p {
  color: rgb(255, 255, 255);
}

.contenedor .btn-search {
  display: flex;
  gap: 10px;
}
.contenedor .btn-search button {
  border: none;
  border-radius: 5px;
  background-color: #3e3e3f;
  padding: 10px;
  color: white;
}

.contenedor .btn-search button {
  background-color: rgb(48, 48, 48);
  transition: background-color 0.5s;
}

.contenedor .btn-search button:hover {
  background-color: rgb(58, 58, 58);
}

.input-search {
  display: flex;
  align-items: center;
  background-color: #303134;
  padding: 8px 12px;
  height: 20px;
  width: 500px;
  border-radius: 24px;
  border: solid 1px gray;
}

.input-search input {
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  color: rgb(255, 255, 255);
}

.input-search {
  background-color: transparent;
  transition: background-color 0.5s;
}

.input-search:hover {
  background-color: rgb(58, 58, 58);
}

.input-search button {
  gap: 8px;
  border: none;
  background-color: transparent;
}

.lupa {
  display: flex;
  width: 15px;
  height: 15px;
  padding: 5px;
}

.microfono {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(voz-de-google.png);
  background-size: cover;
}

.camara {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(450_1000.png);
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #161618;
  height: 90px;
  padding: 0 22px;
}

footer section.informacion {
  display: flex;
  justify-content: space-between;
  border-top: rgb(70, 68, 68) solid 1px;
  height: 80%;
}

footer section.informacion div {
  display: flex;
  gap: 13px;
}

footer section {
  display: flex;
  align-items: center;
  height: 100%;
  color: #9aa0a6;
}

footer section.informacion div a {
  color: #9aa0a6;
  text-decoration: none;
}
